.card {
    background-color: #fff;
    border-radius: 15px;
    padding: 0.8em;
}
.center{
    background-color: lightseagreen;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.card h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}